fastapi
uvicorn
pydantic
joblib
torch
transformers
contractions
jinja2
python-multipart
scikit-learn
pandas 
numpy<2

# Force lightweight CPU torch
torch==2.2.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html

# Transformers (will auto-detect CPU)
transformers==4.39.3